<div class="container" style="padding-top:3%">
        <div class="row" style=" padding-right: 10px">
            <div class="col-md-4 col-sm-4">
    
                <div class="card" style="width: 18rem;  background:whitesmoke;">
                    <img class="card-img-top" src="../assets/images/course_popup/pop-1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                            <button class="btn btn-primary" mat-button (click)="openDialog()">Open</button>
                         
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 col-sm-4">
    
                <div class="card" style="width: 18rem;  background:whitesmoke;">
                    <img class="card-img-top" src="../assets/images/course_popup/pop-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                            <button class="btn btn-primary" mat-button (click)="openDialog()">Open</button>
                        </div>
                </div>
            </div>
          
            <div class="col-md-4 col-sm-4">
    
                <div class="card" style="width: 18rem;  background:whitesmoke;">
                    <img class="card-img-top" src="../assets/images/course_popup/pop-3.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>